{% extends "layout.html.twig" %}

{% block content %}
<h3>Concepts</h3>
<input id="searchInput" autofocus placeholder="Type to filter" class="form-control" /><br />


<table class="table">
  <tbody id="table-body">
    {% for concept in project.getConcepts() %}
    <tr {% if concept.getType()=='group' %}style="background-color: #f0f0f0;"{% endif %}>
      <td>
        <a title="{{ concept.getBreadCrumbs() }}" href="/{{ project.getId() }}/concepts/{{ concept.getId() }}">{{ concept.getId() }}</a><br />
        <span style="font-size: 60%">{{ concept.getOid() }}</span><br />
        
      </td>
      <td style="padding-left: {{ 20 * concept.getDepth() }}px">
        {% if concept.getType() == 'group' %}
        <b>{{ concept.getShortNameHtml() }}</b>
        {% else %}
        {{ concept.getShortNameHtml() }}
        {% endif %}
      </td>
      <td>{{ concept.getType() }}</td>
      <td>
        {{ concept.getDataType() }}
      </td>
      <td style="text-align: center;"><span class="label label-info">{{ concept.getStatus() }}</span></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
