{% extends "@Theme/layout.html.twig" %}

{% block content %}
<h3>Concept: {{ concept.getId }}</h3>
<h4>{{ concept.getBreadCrumbs() }} / {{ concept.getShortName()}}</h4>
<dl>
  <dt>ID</dt><dd>{{ concept.getId }}</dd>
  <dt>OID</dt><dd>{{ concept.getOid }}</dd>
  <dt>ShortName</dt><dd>{{ concept.getShortName }}</dd>
  <dt>Hierarchy</dt><dd>{{ concept.getBreadCrumbs }}</dd>
  <dt>Type</dt><dd>{{ concept.getType }}</dd>
  <dt>Data-type</dt><dd>{{ concept.getDataType }}</dd>
  {% if concept.getLengthMin %}
  <dt>Length</dt><dd>{{ concept.getLengthMin }} {{ concept.getLengthMax }}</dd>
  {% endif %}
  {% if concept.getCodelist %}
  <dt>Codelist</dt><dd><a href="/{{ project.getId}}/codelists/{{ concept.getCodelist.getId }}">{{ concept.getCodelist.getId }}</a></dd>
  {% endif %}
</dl>

<h3>Properties</h3>
<ul>
{% for property in concept.getProperties() %}
  <li><span class="badge">{{ property.getLanguage() }}</span> <b>{{ property.getName() }}</b>: {{ property.getValue() }}</li>
{% endfor %}
</ul>
{% endblock %}
