{% extends "@Theme/layout.html.twig" %}

{% block content %}
<h3>Section Type: {{ sectionType.getId }}</h3>
<dl>
  <dt>ID</dt><dd>{{ sectionType.getId }}</dd>
  <dt>Label</dt><dd>{{ sectionType.getLabel }}</dd>
  <dt>Label (plural)</dt><dd>{{ sectionType.getLabelPl }}</dd>
  <dt>Type</dt><dd>{{ sectionType.getType }}</dd>
</dl>

<h3>Properties</h3>
<ul>
{% for property in sectionType.getProperties() %}
  <li><span class="badge">{{ property.getLanguage() }}</span> <b>{{ property.getName() }}</b>: {{ property.getValue() }}</li>
{% endfor %}
</ul>


<h3>Fields</h3>
<table class="table">
  <tr>
    <th>Concept</th>
    <th>Cardinality</th>
    
{% for field in sectionType.getFields() %}
  <tr>
    <td>
      <a href="/{{ project.getId() }}/concepts/{{ field.getConcept().getId() }}">
      {{ field.getConcept().getId() }}
      </a> ({{ field.getConcept().getShortName() }})
    </td>
    <td>
      {{ field.getMin() }} - {{ field.getMax() }}
    </td>
  </tr>
{% endfor %}
</table>
{% endblock %}
