{% extends "@Theme/layout.html.twig" %}

{% block content %}
<div class="row">
  <div class="col-sm-3 sidebar">
  <fieldset class="views-info">
    <legend>Info</legend>
    {% include "@Views/info.html.twig" %}
  </fieldset>
  <fieldset class="views-navigation">
    <legend>Views <small>{{ project.getViewsByType('fusion')|length }}</small></legend>
    <ul class="nav nav-pills nav-stacked">
      {% for view in project.getViewsByType('fusion') %}
      <li class="nav-detail nav-detail-view-{{ view.getId()}}">
        <a  style="line-height: 1;" href="#" onclick="selectDetail('detail-view-{{ view.getId()}}'); return false;">
          {{ view.getLabel() }} {#<small>{{view.getId()}}</small>#}
        </a>
      </li>
      {% endfor %}
    </ul>
  </fieldset>

  <fieldset>
    <legend>Attachments: <small>{{ fusion.getAttachments()|length }}</small></legend>
    <ul class="nav nav-pills nav-stacked">
    {% for resource in fusion.getResources() %}
      {% for attachment in resource.getAttachments() %}
        <li class="nav-detail nav-detail-section-{{ fusion.getId() }}">
          <a href="../resources/{{ attachment.getId() }}@{{ resource.getId()  }}">
            {{ attachment.getFilename() }}<br />
            <small>
              {{ attachment.getMimeType()}}
            </small>
          </a>

        </li>
      {% endfor %}
    {% endfor %}
    </ul>
  </fieldset>

  <fieldset class="fusion-navigation">
    <legend>Resources</legend>
    <ul class="nav nav-pills nav-stacked">
    {% for resource in fusion.getResources() %}

      <li class="nav-detail nav-detail-resource-{{ resource.getId()}}">
        <a href="#">
          {% if resource.getSource() %}
          <div class="logo-group">
            <img src="{{ resource.getSource().getLogoUrl() }}" class="logo logo-provider"/>
            <img src="{{ resource.getSource().getAppLogoUrl() }}" class="logo logo-app"/><br />
          </div>
          {#<h2>Resource</h2>#}
          {#{ resource.getId() }#}
          {{ resource.getSource().getDisplayName() }}<br /><small>@{{ resource.getSource().getId() }} <i>{{ resource.getSource().getAppId() }}</i></small><br />
          {% endif %}
        </a>
      </li>
    {% endfor %}
    </ul>
  </fieldset>

  <fieldset class="section-navigation">
    <legend>Sections <small>{{ fusion.getSections()|length }}</small></legend>
    <ul class="nav nav-pills nav-stacked">
    {% for section in fusion.getSections() %}
      <li class="nav-detail nav-detail-section-{{ section.getId()}}">
        <a href="#" onclick="selectDetail('detail-section-{{ section.getId()}}'); return false;">
          <img src="{{ section.getResource().getSource().getPresenter().getLogoUrl() }}" class="logo logo-provider" />
          <b>{{ section.getPresenter().presentLabel() }}</b>
          <br />
          <small>
            <i>{{ section.getPresenter().getEffectiveAt() }}</i>
          </small>
        </a>
      </li>
    {% endfor %}
    </ul>
  </fieldset>


  </div>

  <div class="col-sm-9">
    {{ viewHtml|raw }}
  </div>

</div>
{% endblock %}
