{% extends "@Theme/layout.html.twig" %}

{% block content %}
<div class="row">
  <div class="col-sm-3">
    {% include '@Realm/navbar-fusion.html.twig' %}

    <div style="border: 2px solid #f0f0f0; background-color: #f8f8f8; min-height: 200px; padding: 0px 10px 0px 10px">
      <h4>Fusion</h4>
      {% for resource in fusion.getResources() %}
      {#<h5>Resource</h5>#}
      {{ resource.getId() }}
      {% if resource.getSource() %}
      {{ resource.getSource().getDisplayName() }}<br /><small>@{{ resource.getSource().getId() }}</small><br />
      <img src="{{ resource.getSource().getLogoUrl() }}" style="width: 20%"/>
      <img src="{{ resource.getSource().getAppLogoUrl() }}" style="width: 20%"/><br />
      <hr />
      {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class="col-sm-9">
    {{ viewHtml|raw }}
  </div>

</div>
{% endblock %}
