{% extends "layout.html.twig" %}

{% block content %}
<h3>Resource: {{ resource.getId }}</h3>
<dl>
  <dt>ID</dt><dd>{{ resource.getId }}</dd>
</dl>

<h3>Properties</h3>
<ul>
{% for property in resource.getProperties() %}
  <li><span class="badge">{{ property.getLanguage() }}</span> <b>{{ property.getName() }}</b>: {{ property.getValue() }}</li>
{% endfor %}
</ul>

<h3>Sections</h3>
<ul>
{% for section in resource.getSections() %}
  <h4>{{ section.getId() }}: {{ section.getType().getId() }}</h4>
  <ul>
  {% for value in section.getValues() %}
    <li>{{ value.getLabel()}}: {{ value.getDisplayValue() }}</li>
  {% endfor %}
  </ul>
{% endfor %}
</ul>
{% endblock %}
