{% extends "@Theme/layout.html.twig" %}

{% block content %}
{#
<h3>Resource: {{ resource.getId }}</h3>
<dl>
  <dt>ID</dt><dd>{{ resource.getId }}</dd>
</dl>

<h3>Properties</h3>
<ul>
{% for property in resource.getProperties() %}
  <li><span class="badge">{{ property.getLanguage() }}</span> <b>{{ property.getName() }}</b>: {{ property.getValue() }}</li>
{% endfor %}
</ul>
#}

<div class="row">
  <div class="col-sm-3 sidebar">
    <fieldset>
      <h1>Sections: {{ resource.getSections()|length }}</h1>
      <ul class="nav nav-pills nav-stacked">
      {% for section in resource.getSections() %}
        <li class="nav-detail nav-detail-section-{{ section.getId() }}">
          <a href="#" onclick="selectDetail('detail-section-{{ section.getId() }}'); return false;">
          {{ section.getPresenter().presentLabel() }}
          <small>
            {{ section.getPresenter().getEffectiveAt()}}
          </small>
          </a>

        </li>
      {% endfor %}
      </ul>
    </fieldset>

    {# <fieldset>
      <h1>Sharing</h1>
      <ul class="nav nav-pills nav-stacked">
        <li class="nav-detail">
          <a href="/resources/{{ resourceKey }}/share">Edit</a>
        </li>
      </ul>
    </fieldset> #}

    <fieldset>
      <h1>Attachments: {{ resource.getAttachments()|length }}</h1>
      <ul class="nav nav-pills nav-stacked">
      {% for attachment in resource.getAttachments() %}
        <li class="nav-detail nav-detail-section-{{ attachment.getId() }}">
          <a href="./{{ attachment.getId() }}@{{ resourceKey }}">
          {{ attachment.getId() }}@{{resourceKey}}
          <small>
            {{ attachment.getMimeType()}}
          </small>
          </a>

        </li>
      {% endfor %}
      </ul>
    </fieldset>

    {% if resource.getSource() %}
    <fieldset>
      <h1>Resource</h1>
      <dl>
        <dt>Provider</dt><dd>
          <img class="logo logo-provider" src="{{ resource.getSource().getLogoUrl() }}"/>
          {{ resource.getSource().getDisplayName() }} <small>@{{ resource.getSource().getId() }}</small>
        </dd>
        <dt>Application</dt><dd>
          <img class="logo logo-provider" src="{{ resource.getSource().getAppLogoUrl() }}"/>
          {{ resource.getSource().getAppId() }}
        </dd>

      </dl>
    </fieldset>
    {% endif %}
  </div>

  <div class="col-sm-9">
    {% for section in resource.getSections() %}
      <div class="detail" id="detail-section-{{ section.getId() }}">
        <h1>{{ section.getPresenter().presentLabel() }}</h1>
        <div class="meta">
          <b>TypeID</b>: <i>{{ section.getSourceTypeId() }}</i>
          <b>Type:</b>
          {% if section.getType() %}
            <a href="/{{ project.getId }}/sectionTypes/{{section.getType().getId() }}">{{ section.getType().getId() }}</a></span>
          {% else %}
            No type
          {% endif %}

          <b>Created:</b> {{ section.getPresenter().getCreatedAt()}}
          <b>Updated:</b> {{ section.getPresenter().getUpdatedAt()}}
          <b>Effective:</b> {{ section.getPresenter().getEffectiveAt()}}
        </div>
        {% for value in section.getValues() %}
          <div class="realm-widget">
            <label>{{ value.getPresenter().getLabel()}}</label><br />

            <div class="realm-value">{{ value.getPresenter().getDisplayValue()|trim }}&#8203;</div>
            <div class="meta">
              <dd>
                <dt>Concept: </dt>
                <dl>
                {% if value.getConcept() %}
                  {#% if value.getSourceConceptId() != value.getConcept().getId() %}
                    <a href="/{{ project.getId() }}/mappings/{{ value.getSourceConceptId() }}" style="text-decoration: line-through;">{{ value.getSourceConceptId() }}</a>
                    mapped to
                  {% endif %#}
                  <a href="/{{ project.getId() }}/concepts/{{value.getConcept().getId()}}">{{ value.getConcept().getId() }}</a>
                  ({{ value.getConcept().getShortName() }})
                {% else %}
                    <span class="warning">
                      <i>{{ value.getConceptId() }} (undefined)</i>
                    </span>
                {% endif %}
              </dl>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>

</div>
{% endblock %}
