<h4>Views <small>{{ project.getViewsByType('fusion')|length }}</small></h4>
<ul class="list-unstyled">
  {% for view in project.getViewsByType('fusion') %}
  {#<a style="line-height: 1;" href="{{ path('fusion_view', { 'fusionId': fusion.getId(), 'viewId': view.getId() } )}}">#}
  <a style="line-height: 1;" href="#" onclick="selectDetail('detail-view-{{ view.getId()}}'); return false;">
    <li style="margin-bottom: 5px; line-height: 1; border: 1px solid #e0e0e0; padding: 10px 10px 10px 10px;">
      <b>{{ view.getLabel() }} {#<small>{{view.getId()}}</small>#}</b><br />
    </li>
  </a>
  {% endfor %}
</ul>

<h4>Sections <small>{{ fusion.getSections()|length }}</small></h4>
<ul class="list-unstyled">
{% for section in fusion.getSections() %}
{#<a style="line-height: 1;" href="{{ path('fusion_section', {'fusionId': fusion.getId(), 'sectionId': section.getId() }) }}">#}
<a style="line-height: 1;" href="#" onclick="selectDetail('detail-section-{{ section.getId()}}'); return false;">
<li style="margin-bottom: 5px; line-height: 1; border: 1px solid #e0e0e0; padding: 3px;">
  <img src="{{ section.getResource().getSource().getLogoUrl() }}" style="width: 32px; float: left; margin-right: 5px;" />
  <b>{{ section.getPresenter().presentLabel() }}</b>
  <br />
  <small>
    <i>{{ section.getPresenter().getEffectiveAt() }}</i>
  </small>
</li>
</a>
{% endfor %}
</ul>
