<h4>{{ section.getLabel() }}</h4>
<div class="meta">
  <b>TypeID</b>: <i>{{ section.getSourceTypeId() }}</i>
  <b>Type:</b>
  {% if section.getType() %}
    <a href="/{{ project.getId }}/sectionTypes/{{section.getType().getId() }}">{{ section.getType().getId() }}</a></span>
  {% else %}
    No type
  {% endif %}

  <b>Created:</b> {{ section.getPresenter().getCreatedAt()}}
  <b>Updated:</b> {{ section.getPresenter().getUpdatedAt()}}
  <b>Effective:</b> {{ section.getPresenter().getEffectiveAt()}}
</div>
{% for value in section.getValues() %}
  <div style="border: 2px solid #f0f0f0; margin-bottom: 20px; padding: 0 5px 0px; ">
    <label>{{ value.getPresenter().getLabel()}}</label><br />

    <input style="margin-bottom: 0px; color: #202020; font-weight: bold;" disabled class="form-control" value="{{ value.getPresenter().getDisplayValue() }}" />
    <div class="meta"  style="margin-top: 5px">
      <strong>Concept: </strong>
    {% if value.getConcept() %}
      {#% if value.getSourceConceptId() != value.getConcept().getId() %}
        <a href="/{{ project.getId() }}/mappings/{{ value.getSourceConceptId() }}" style="text-decoration: line-through;">{{ value.getSourceConceptId() }}</a>
        mapped to 
      {% endif %#}
      <a href="/{{ project.getId() }}/concepts/{{value.getConcept().getId()}}">{{ value.getConcept().getId() }}</a>
      ({{ value.getConcept().getShortName() }})
    {% else %}
        <span style="color: red;">
          <i>{{ value.getConceptId() }} (undefined)</i>
        </span>
    {% endif %}
    </div>
  </div>
{% endfor %}
