{% extends "layout.html.twig" %}

{% block content %}
<h3>Codelist: {{ codelist.getId }}</h3>
<dl>
  <dt>ID</dt><dd>{{ codelist.getId }}</dd>
  <dt>OID</dt><dd>{{ codelist.getOid }}</dd>
  <dt>ShortName</dt><dd>{{ codelist.getShortName }}</dd>
  <dt>Type</dt><dd>{{ codelist.getType }}</dd>
</dl>
<h3>Properties</h3>
<ul>
{% for property in concept.getProperties() %}
  <li><span class="badge">{{ property.getLanguage() }}</span> <b>{{ property.getName() }}</b>: {{ property.getValue() }}</li>
{% endfor %}
</ul>

<h3>Items</h3>
<table class="table">
  <tr>
    <th>Code</th>
    <th>CodeSystem</th>
    <th>DisplayName</th>
    <th>Level</th>
    <th>Type</th>
  </tr>
  {% for item in codelist.getItems() %}
  <tr>
    <td>{{ item.getCode() }}</td>
    <td>{{ item.getCodeSystem() }}</td>
    <td>{{ item.getDisplayName() }}</td>
    <td>{{ item.getLevel() }}</td>
    <td>{{ item.getType() }}</td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
