<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/css/flat-ui.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="/realm.js"></script>
        <link rel="stylesheet"  href="/realm.css">
        <link rel="stylesheet" href="/realm-app.css">
    </head>
    <body>
        {% if project is defined %}
        <!-- Static navbar -->
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/{{ project.getId }}">Project: {{ project.getId }}</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/{{ project.getId }}/concepts">Concepts ({{ project.getConcepts()|length }})</a> </li>
                <li><a href="/{{ project.getId }}/codelists">Codelists ({{ project.getCodelists()|length }})</a></li>
                <li><a href="/{{ project.getId }}/mappings">Mappings ({{ project.getMappings()|length }})</a></li>
                <li><a href="/{{ project.getId }}/sectionTypes">Section types ({{ project.getSectionTypes()|length }})</a></li>
                <li><a href="/{{ project.getId }}/resources">Resources ({{ project.getResources()|length }})</a></li>
                <li><a href="/{{ project.getId }}/fusions">Fusions ({{ project.getFusions()|length }})</a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div><!--/.container-fluid -->
        </nav>
        {% endif %}
        
        <div class="container-fluid">
            {% block content %}{% endblock %}
            <hr style="margin-top: 100px;"/>
        </div>
        
        <script>
        
        $("#searchInput").keyup(function () {
          var rows = $("#table-body").find("tr").hide();
          if (this.value.length) {
              var data = this.value.split(" ");
              $.each(data, function (i, v) {
                  rows.filter(":contains('" + v + "')").show();
              });
              //rows.filter(":contains('group')").show();
          } else rows.show();
        });
        </script>
    </body>
</html>
